/* main theme */

/* *{
    margin:0;
    padding:0;
} */
.bg-linear{
    background: linear-gradient(45deg, #c77ff2, #e8519e);
    padding: 10px 0px;
}

/* form bg */
.bg-w{
    width: 60%;
    background: #fff;
    border-radius: 2px;
    padding: 55px 95px;
}

.title{
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    padding-bottom: 45px;
}


/* inputs */
input {
    width: 100%;
    height: 40px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 30px;
    padding-left: 20px;
}

input[type=radio] {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-left: 10px;

}

select,
input[type=date] {
    margin-left: 10px;
    width: 98%;
    height: 40px;
}

/* submit */
.btn{
    margin-top: 110px;
    background-color: #c77ff2;
    border: none;
    border-radius: 50px;
}
.btn:hover{
    background-color:  #e8519e;
    color: black;
}


.err {
    color: red;
}



@media only screen and (max-width: 800px) {


    .bg-w
    {   
        width:80%;
        padding: 0;
    }
  
   

}